

	<section class="footer" style="text-align:center; margin: 0 auto;">
	<hr/>
		@August, 2019
	</section>  

	    <script type="text/javascript" src="javascripts/bundle.js"  > </script>
  </body>
</html>  