<% include _head %>


<div class="august_app"> 
	
	<div id="reactPlaceHolder">
		<%- content %>
	</div>

</div>

<script type="text/tweets_data"  id="initialState">
	<%- initialData %>
</script/>
<% include _foot %>